:root {
  --accent-color: #2e2f42;
  --active-color: #404bbf;
  --text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: #ffffff;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  overflow: hidden;

  white-space: nowrap;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.header-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  word-spacing: 0;
}
.header-logo-accent {
  color: #2e2f42;
  word-spacing: 0;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover {
  color: var(--active-color);
}

.header-menu-link:focus {
  color: var(--active-color);
}

.header-address-link {
  color: var(--text-color);
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover {
  color: var(--active-color);
}

.header-address-link:focus {
  color: var(--active-color);
}

.header-address {
  font-style: normal;
}

.header-address-menu:focus {
  color: var(--active-color);
}

.hero {
  background-color: var(--accent-color);
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: var(--active-color);
}

.hero-btn:focus {
  background-color: var(--active-color);
}

.advantages-subtitle {
  color: var(--accent-color);

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  color: var(--text-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.doing-title {
  color: var(--accent-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list-item {
  background-color: #ffffff;
}

.team-member {
  color: var(--accent-color);
  text-align: center;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-work {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;

  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  word-spacing: 0;
}

.footer-logo-accent {
  color: #f4f4fd;

  word-spacing: 0;
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--accent-color);
}

.portfolio-menu-btn {
  color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f4f4fd;
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.portfolio-menu-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-menu-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.offers-title {
  color: var(--accent-color);
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.offers-text {
  color: var(--text-color);
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.offers-item-link {
  text-decoration: none;
}
